.profile-label > label {
  width: auto;
  min-width: 160px;
}

.card {
  background-color: white;
  display: flex;
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.47);
  margin-bottom: 12px;
  border-radius: 4px;
  flex-direction: column;
  padding: 10px 14px;
}

.card-content {
}

.profile-img {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto;
}

